body {
  background-image: url(../images/bg.svg);
  background-repeat: repeat;
  background-size: 15%;
}

.GTFO {
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);*/
  font-size: calc(4vw + 2vh + 1vmin);
  font-family: /* "Comic Sans MS", "Comic Sans", cursive, */ Helvetica, Arial, "Helvetica Neue", sans-serif;
  /* font-weight: 1500;*/
  color: #81B1BB!important;
	line-height: 0.9;
  text-shadow:
  -6px -6px 0 #F39A58,
  6px -6px 0 #F39A58,
  -6px 6px 0 #F39A58,
  6px 6px 0 #F39A58; 
  margin: 0;
}

.GTFO2 {
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);*/
  font-size: 28px;
  font-family: /* "Comic Sans MS", "Comic Sans", cursive, */ Helvetica, Arial, "Helvetica Neue", sans-serif;
  /* font-weight: 1500;*/
  color: #81B1BB!important;
	line-height: 0.9;
  text-shadow:
  1px 1px 0 #F39A58; 
  margin: 0;
}

.normaltext {
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);*/
  font-size: 28px;
  font-family: /* "Comic Sans MS", "Comic Sans", cursive, */ Helvetica, Arial, "Helvetica Neue", sans-serif;
  /* font-weight: 1500;*/
  color: #81B1BB!important;
	line-height: 0.9;

  margin: 0;
}

div {
  /* display: flex;*/
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  /* border: 2px dashed #f69c55;*/
}